<header>
  <img src="assets/icons/main-header/hytec-logo.svg" class="header-image" alt="Hytec Power Inc">

  <nav>
    <ul>
      <li class="nav-item">
        <a routerLink="/home" routerLinkActive="active-link" class="anchor">HOME</a>
      </li>

      <li class="nav-item has-dropdown">
        <a routerLink="/solutions" class="anchor">
          SOLUTIONS
          <span class="dropdown-arrow">&#9662;</span>
        </a>

        <ul class="dropdown-menu">
          <li class="dropdown-item">
            <a routerLink="/solutions/educational">
              <img src="assets/icons/main-header/educational-solutions.svg" alt="Edu">
              <div class="text-group">
                <h1>EDUCATIONAL SOLUTIONS</h1>
                <p>Tie your education to employment.</p>
              </div>
            </a>
          </li>

          <li class="dropdown-item">
            <a routerLink="/solutions/industrial">
              <img src="assets/icons/main-header/industrial-solutions.svg" alt="Ind">
              <div class="text-group">
                <h1>INDUSTRIAL SOLUTIONS</h1>
                <p>Provides skills-based industrial solutions.</p>
              </div>
            </a>
          </li>
        </ul>
      </li>

      <li class="nav-item">
        <a routerLink="/news-and-updates" class="anchor">NEWS & UPDATES</a>
      </li>

      <li class="nav-item">
        <a routerLink="/trainings-and-events" class="anchor">TRAININGS & EVENTS</a>
      </li>

      <li class="nav-item has-dropdown">
        <a routerLink="/company" class="anchor">
          COMPANY
          <span class="dropdown-arrow">&#9662;</span>
        </a>

        <ul class="dropdown-menu">
          <li class="dropdown-item">
            <a routerLink="/about-us">
              <div class="text-group">
                <h1>ABOUT US</h1>
              </div>
            </a>
          </li>
          <li class="dropdown-item">
            <a routerLink="/company/sponsorship">
              <div class="text-group">
                <h1>SPONSORSHIP</h1>
              </div>
            </a>
          </li>
          <li class="dropdown-item">
            <a routerLink="/company/careers">
              <div class="text-group">
                <h1>CAREERS</h1>
              </div>
            </a>
          </li>
          <li class="dropdown-item">
            <a routerLink="/company/team">
              <div class="text-group">
                <h1>TEAM</h1>
              </div>
            </a>
          </li>
          <li class="dropdown-item">
            <a routerLink="/company/project-and-case-studies">
              <div class="text-group">
                <h1>PROJECT AND CASE STUDIES</h1>
              </div>
            </a>
          </li>
          <li class="dropdown-item">
            <a routerLink="/company/our-contacts">
              <div class="text-group">
                <h1>OUT CONTACTS</h1>
              </div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <div class="search-bar">
    <input type="text" placeholder="Search here...">
    <div class="search-button">
      <img src="assets/icons/main-header/magnifying-glass.svg" alt="Search">
    </div>
  </div>
</header>